/*NAVIGATION PAGE*/
body {
    background: #191a1c;
}
#connexion{
    width: 10%;
    background: #191a1c;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
}
button{
    border: 1px solid #ffd722;
    background: #191a1c;
    border-radius: 5px;
    display: block;
    width: 125px;
    height: 40px;
    color: #ffd722;
    margin:50px auto;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 2px;
}
button:hover{
    background:#ffd722 ;
    color:#191a1c;
}
.container {
    display: block;
    margin: 0 auto;
    width: 1800px;
    position: fixed;
}
#group-block{
    position: absolute;
    left: 10%;
}
.block{
    width:200px;
    height:100vh;
    -webkit-transform:skew(-15deg);
    -moz-transform:skew(-15deg);
    -o-transform:skew(-15deg);
    transform:skew(-15deg);
    overflow: hidden;
    float: left;
    display: inline-block;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease-in-out;
}
.block:hover{
    width: 400px;
    border: 3px solid #ffd722;
}
/*.border{*/
/*!*width: 200px;*!*/
/*border: 0;*/
/*!*height:100vh;*!*/
/*background: #191a1c;*/

/*overflow: hidden;*/
/*float: left;*/
/*display: inline-block;*/
/*z-index: 1;*/
/*!*position: relative;*!*/
/*box-sizing: border-box;*/
/*transition: box-shadow 0.5s ease-in-out;*/


/*width: 00px;*/
/*height: 100vh;*/
/*border-top: 0 solid transparent;*/
/*border-left: 200px solid red;*/
/*border-right: 100px solid blue;*/
/*border-bottom: 100vh solid transparent;*/
/*}*/
/*.border:hover{*/
/*!*position: fixed;*!*/
/*!*background: red;*!*/
/*!*top: 0;*!*/
/*!*left: 0;*!*/
/*}*/
.block-1:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover,
.block-5:hover,
.block-6:hover,
.block-7:hover
{
    width: 700px;
    opacity: 1;
}
.a{
    border-left: 3px solid #ffd722 ;
}
.block-0{
    background-size: cover;
    width:600px;
    height:100vh;
    transition: 0.3s ease;
    opacity: 0.3;
    /*-webkit-transform:skew(-165deg);*/
    /*-moz-transform:skew(-165deg);*/
    /*-o-transform:skew(-165deg);*/
    /*transform:skew(-165deg);*/
    position: absolute;
    left: 70px;
}
.block-0:hover{
    opacity: 1;
}
.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7 {
    background-size: cover;
    width:600px;
    height:100vh;
    transition: 0.3s ease;
    opacity: 0.3;
    -webkit-transform:skew(-165deg);
    -moz-transform:skew(-165deg);
    -o-transform:skew(-165deg);
    transform:skew(-165deg);
    position: absolute;
    left: -70px;
}

.block-1 {
    background: url("../img/nav/elvis.jpg") no-repeat 50% 0;
    background-size: 100%;
}
.block-2 {
    background: url("../img/nav/james-brown.jpg") no-repeat 50% 0%;
    background-size: 100%;
}
.block-3 {
    background: url("../img/nav/elton-john.jpg") no-repeat 50% 0%;
    background-size: 100%;

}
.block-4 {
    background: url("../img/nav/mickael-jackson.jpg") no-repeat 50% 0%;
    background-size: 100%;

}
.block-5 {
    background: url("../img/nav/nirvana.jpg") no-repeat 50% 0%;
    background-size: 100%;

}
.block-6 {
    background: url("../img/nav/daft_punk.jpg") no-repeat 50% 0%;
    background-size: 100%;

}
.block-7 {
    background: url("../img/nav/pharrell_williams.png") no-repeat 50% 0%;
    background-size: 100%;

}



/*TIMELINE PAGE*/
h1 {
    margin-top:49%;
    margin-left: 130px;
    font: 36px Oswald;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -2px;
    background:#ffd722 ;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    line-height: 82px;
}
.block:hover h1{
    margin-left: calc(50% - 82px);
}
.container-album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.block-album {
    width: 200px;
    height: 200px;
    background: #162462;
    margin: 10px;
}
.block-album-plus {
    width: 400px;
    height: 200px;
    background: #162462;
    margin: 10px;
}
/*TYPOGRAPHY*/
@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.otf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-Bold.ttf');
}