/*HEADER*/
header {
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}
header h1 {
    display: inline-block;
    font: 36px Oswald, Arial, 'sans-serif';
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -2px;
}
header ul li a {
    text-decoration: none;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a:first-child {
    color: #fff;
    font: 18px Oswald, Arial, 'sans-serif';
    display: inline-block;
}
header nav ul li a:first-child h2 {
    display: inline-block;
    align-self: inherit;
    vertical-align: 10px;
    margin-left: 10px;
}
header nav ul li:last-child {
    margin-left: 30px;
}
header nav ul li a img {
    width: 40px;
}
header nav ul li ul li a img {
    width: 25px;
}
    /*NAVIGATION PAGE*/
body {
    background: #191a1c;
}
.container {
    display: block;
    margin: 0 auto;
}
.block{
    width:200px;
    height:100vh;
    -webkit-transform:skew(-15deg);
    -moz-transform:skew(-15deg);
    -o-transform:skew(-15deg);
    transform:skew(-15deg);
    overflow: hidden;
    float: left;
    display: inline-block;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease-in-out;
}
.block:hover{
    width: 400px;
    border: 5px solid #ffd722;
}
.block-1:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover {
    width: 700px;
    opacity: 1;
}
.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
    background-size: cover;
    width:600px;
    height:100vh;
    transition: 0.3s ease;
    opacity: 0.3;
    -webkit-transform:skew(-165deg);
    -moz-transform:skew(-165deg);
    -o-transform:skew(-165deg);
    transform:skew(-165deg);
    position: absolute;
    left: -70px;
}
.block-1 {
    background: url("../img/nav/elvis.jpg") no-repeat 50% 0;
}
.block-2 {
    background: url("../img/nav/james-brown.jpg") no-repeat 50% 0%;
}
.block-3 {
    background: url("../img/nav/elton-john.jpg") no-repeat 50% 0%;
}
.block-4 {
    background: url("../img/nav/mickael-jackson.jpg") no-repeat 50% 0%;
}
.block-5 {
    background: url("../img/nav/nirvana.jpg") no-repeat 50% 0%;
}
/*NAVIGATION TIMELINE*/
.timeline-nav {
    float: right;
    display: block;
    height: 550px;
    width: 100px;
    border-left: 1px dashed #888888;
}
.timeline {
    position: fixed;
    top: 20%;
    right: 0;
    height: 420px;
    width: 100px;
    display: block;
    float: right;
    border-left: 1px solid #888888;
}
.timeline ul li a {
    color: #888888;
    text-decoration: none;
    font: 18px Helvetica, Arial, 'sans-serif';
}
.timeline ul {
    position: relative;
}
.timeline ul li {
    padding: 30px;
}
.side-line {
    position: absolute;
    width: 20px;
    height: 1px;
    left: -10px;
    background: #888888;
}
.side-line p{
    position: absolute;
    top: -10px;
    left: 30px;
}
.timeline ul li a:active,
.timeline ul li a:hover,
.active {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #fff;
}
.side-line:active,
.side-line:hover,
.active {
    background: #fff;
    box-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #fff;
}
/*TIMELINE PAGE*/
section.album h1 {
    text-align: center;
    font: 50px Oswald, Arial, 'sans-serif';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 40px 100px 60px;
}
.container-album {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.content-album {
    width: 250px;
    position: absolute;
    bottom: 3px;
    left: 0;
    background: #293b44;
    opacity: 0.8;
    padding: 10px;
}
.content-album h2 {
    font: 16px Oswald, Arial, 'sans-serif';
    color: #ffffff;
}
.content-album h3 {
    font: 16px Helvetica, Arial, 'sans-serif';
    color: #cccccc;
}
.block-album {
    margin: 10px;
    position: relative;
    opacity: 0.5;
}
.block-album img {
    width: 250px;
    height: 250px;
}
.block-album:hover {
    opacity: 1;
}
/*CONNECTION AND REGISTRATION PAGES*/
.connection,
.registration {
    text-align: center;
}
section.connection h2,
section.registration h2 {
    font: 36px Oswald;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    margin: 24px 0;
}
input{
    color: #FFF;
    font: 16px Helvetica, Arial, 'sans-serif';
}
input[type=text]{
    width: 263px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #393b40;
    margin: 6px 0;
    padding: 0 12px;
}
input[type=email]{
    width: 263px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #393b40;
    margin: 6px 0;
    padding: 0 12px;
}
input[type=password]{
    width: 263px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #393b40;
    margin: 6px 0;
    padding: 0 12px;
}
input[type="submit"]{
    border: 0;
    background: #393b40 url("../img/pictogram/button_submit.png") no-repeat ;
    margin: 20px 0;
    height: 55px;
    width: 52px;
    border-radius: 50%;
    outline: none;
    transition: 0.3s ease-in-out;
}
input[type="submit"]:hover {
    box-shadow: #1b75bc 0 0 40px 10px;
    border-radius: 50%;
}
/*MODAL*/
/*Comment*/
.modal {
    font-family: Helvetica, Arial, 'sans-serif';
}
.comment {
    display: inline-block;
    width: 540px;
    float: right;
}
.left-column-modal {
    display: inline-block;
    width: 400px;
}
.title-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101620;
    padding: 10px;
    position: relative;
}
.title-article h1,
.title-article h2 {
    color: #fff;
    font-family: Helvetica, Arial, 'sans-serif';
}
.title-article h1 {
    font: 30px Oswald, Arial, 'sans-serif';
    padding-bottom: 10px;
}
.comment>article>.title-article>p:nth-child(2){
    color: #1b75bc;
    margin: 0 10px;
}
.comment>article>.title-article>p:last-child {
    color: #d76153;
    margin: 0 10px;
}
.text-comment {
    display: flex;
    align-items: center;
    background: #263d4f;
    border-bottom: 1px solid #676769;
    font-family: Helvetica, Arial, 'sans-serif';
    padding: 10px;
}
.text-comment img {
    width: 25px;
    height: 25px;
}
.text-comment h3 {
    color: #ffffff;
    margin: 0 20px;
}
.text-comment p {
    color: #fff;
    position: relative;
}
.text-comment p:nth-child(3) {
    width: 77%;
    border-right: 1px solid #676769;
}
.text-comment small {
    margin-left: 10px;
    color: #7d8389;
}
.information-album {
    background: #0d141d;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    font: 16px Helvetica, Arial, 'sans-serif';
}
/*TYPOGRAPHY*/
@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.otf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-Bold.ttf');
}